{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": false,
    "printWidth": 100,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.json", "*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
